.background-dados{
    -fx-background-color: darkslategrey;
}

.campo-dados{
    -fx-text-align: center;
    -fx-text-fill: blanchedalmond;
    -fx-background-color: brown;
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
}
.campo-dados:editable{
    -fx-background-color: aliceblue;
}

.label-dados{
    -fx-text-fill: whitesmoke; 
}

.botao{
    -fx-background-color: #ff3333;
    -fx-background-radius: 20px;
    -fx-border-color: whitesmoke;
    -fx-border-radius: 20px;
    -fx-text-fill: white;
}

.botao:hover{
    -fx-background-color: #ff6666;
}
.botao:pressed{
    -fx-background-color: #ff3333;
}